node_modules
build
.cache
.npm
pnpm-lock.yaml
yarn.lock
npm-debug.log*
coverage
.husky
.env
.env.*
!.env.example
.vscode
.idea
.DS_Store
Thumbs.db
.git
.gitignore
fly.toml
docker-compose.yml
Dockerfile.local
.dockerignore.local
*.log
*.tsbuildinfo
