# Dependencies & builds
node_modules/
build/
dist/
.vite/
.app/
.public/build/
public/_dev/
app/public/build/

# Local DBs
prisma/dev.sqlite
prisma/dev.sqlite-journal
database.sqlite

# OS & editor
.DS_Store

# Env
.env
.env.*
!.env.example

# Remix cache
.cache/

# VS Code shopify dev artifacts
.shopify/
.shopify.lock

# extension output
/extensions/*/dist

.tmp.driveupload/
