# fly.toml
app = "attribix-app"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[env]
  APP_URL = "https://attribix-app.fly.dev"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [http_service.concurrency]
    type = "requests"
    soft_limit = 50
    hard_limit = 100

[checks]
  [checks.health]
    port = 3000
    type = "http"
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    method = "get"
    path = "/"

[deploy]
  release_command = "npx prisma db push --schema=prisma/schema.postgres.prisma --accept-data-loss"

[vm]
  memory = "1024MB"
  cpu_kind = "shared"
  cpus = 1
