app = "attribix-app"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  HOST = "0.0.0.0"
  NODE_ENV = "production"

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    method = "get"
    path = "/"
    protocol = "http"
    tls_skip_verify = false
    restart_limit = 0

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
